.auth_login_nav_text{
    font-size: 18px;
}
.auth_general_main_container{
    height: 100vh;
    padding: 2% 4% 2% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    box-sizing:border-box;
    width: 100%;
}
@media screen and (max-width: 1000px) {
    .auth_login_nav_text{
        font-size: 4vw;
    } 
}