.toast_container{
    width: 100%;
    background-color: #408500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toast_card{
    z-index: 1;
    position: absolute;
    top: 5%;
    background-color: white;
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 40px 40px;
    font-size: 3vw;
    padding: 5% 5%;
    text-align: center;
    box-sizing: border-box;
}
.success{
    border-bottom: 15px #408500 solid;
}
.error{
    border-bottom: 15px red solid;
}
@media screen and (max-width: 1000px) {
    .toast_card{
        width: 90%;
        font-size: 5vw;
    } 
}