.app_button_style{
    background-color: var(--color--primary);
    cursor: pointer;
    border: none;
    width: 30%;
    color: white;
    height: min(20%,40px);
    border-radius: 10px;
    font-family: "vazir-medium";
}

@media screen and (max-width: 1000px) {
    .app_button_style{
        background-color: var(--color--primary);
        cursor: pointer;
        border: none;
        width: 50%;
        height: 5vh;
        border-radius: 10px;
        font-size: 5vw;
        font-family: "vazir-medium";
        border-radius: 14px;
    } 
}

.disabled{
    background-color: var(--color--primary-disabled);
    cursor: no-drop;
}
.generalButtonContainer{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}